.displayNone, .displayAdmin{
    display:none;
}

.error,.error:focus {
    background-color:#e5ff00 !important;
}
  
.eapps-widget-toolbar{
    display:none;
}

.azul{
    background-color: aqua !important;
}